* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "RaceSport-BWPLV";
  src: url("../fonts/RaceSport-BWPLV.ttf");
}
.btn-general {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  height: 35px;
  width: 310px;
  font-family: "RaceSport-BWPLV";
  text-decoration: none;
  background-color: #27374d;
}

nav.navbar {
  background-color: #27374d;
}
nav.navbar a.logo-navbar {
  overflow: hidden;
}
nav.navbar a:hover .logo-navbar {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}
nav.navbar div ul li a.nav-link {
  color: white;
  font-family: "RaceSport-BWPLV";
  font-size: 13px;
}
nav.navbar div ul li a.nav-link:hover {
  color: red;
}

footer.pie-pagina .footer-gral {
  background-color: #27374d;
}
footer.pie-pagina .footer-gral .logo-automotora-footer {
  width: 350px;
  height: 130px;
}
footer.pie-pagina .footer-gral .text-footer {
  font-family: "RaceSport-BWPLV";
}
footer.pie-pagina .footer-gral a.text-footer {
  color: white;
}
footer.pie-pagina .footer-gral .text-copyright {
  color: white;
}
footer.pie-pagina .footer-gral .text-copyright:hover {
  color: red;
}
footer.pie-pagina .footer-gral .social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
footer.pie-pagina .footer-gral .social-media-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}
footer.pie-pagina .footer-gral .social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}
footer.pie-pagina .footer-gral .social-media-button img {
  transition: all 0.3s;
}
footer.pie-pagina .footer-gral .social-media-button:hover img {
  transform: scale(1.15);
}
footer.pie-pagina .footer-gral .social-media-button:hover:nth-child(1) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer.pie-pagina .footer-gral .social-media-button:hover:nth-child(2) {
  background-color: skyblue;
}
footer.pie-pagina .footer-gral .social-media-button:hover:nth-child(3) {
  background-color: red;
}
footer.pie-pagina .footer-gral .social-media-button:hover:nth-child(4) {
  background-color: rgb(0, 119, 181);
}

section.portada {
  background-image: url(../img/Fondos/BMW\ fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

section.sec_ventas #contenedorVehiculos {
  display: flex;
  justify-content: space-around;
}
section.sec_ventas .card-title {
  font-size: 1.5rem;
}
section.sec_ventas .btn-agregar {
  border: solid 3px white;
  border-radius: 8px;
  background-color: #27374d;
  color: white;
}
section.sec_ventas .btn-agregar:hover {
  border: solid 3px #27374d;
  border-radius: 8px;
  background-color: white;
  color: #27374d;
}
section.sec_ventas .btn-buscar {
  background-color: #27374d;
  color: white;
  border: #27374d 1px solid;
  border-radius: 2px;
}
section.sec_ventas .btn_filtro {
  border: solid 3px white;
  border-radius: 8px;
  background-color: #27374d;
  color: white;
}
section.sec_ventas .btn_filtro:hover {
  border: solid 3px #27374d;
  border-radius: 8px;
  background-color: white;
  color: #27374d;
}
section.sec_ventas .btn-borrarFiltro {
  width: 30px;
}
section.sec_ventas .btn-borrarFiltro:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}
section.sec_ventas .card-price {
  color: green;
}
section.sec_ventas .tarjProdCarrito {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: white;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  border: solid 1px white;
  border-radius: 10px;
}
section.sec_ventas .btn-fn-compra {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  background-color: #27374d;
  border: #27374d solid 1px;
  border-radius: 5px;
}
section.sec_ventas .btn-fn-compra:hover {
  background-color: white;
  color: #27374d;
  font-size: 17px;
  border: #27374d 2px solid;
}
section.sec_ventas .modelo-title {
  font-size: 26px;
}
section.sec_ventas .precio-title {
  font: 300;
  font-size: 23px;
  color: green;
}

/*# sourceMappingURL=style.css.map */
