@use "sass:map";
@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/personalizados";





nav.navbar {
    background-color: $bg-color-perso;

    a.logo-navbar {
        overflow: hidden;
    }

    a:hover .logo-navbar {
        -webkit-transform: scale(1.3);
        transform: scale(1.1);
        transition: all 0.3s ease-out;
    }

    div ul li a.nav-link {
        color: white;
        font-family: $fuente-perso;
        font-size: 13px;

        &:hover {
            color: red;
        }
    }

}

footer.pie-pagina {

    .footer-gral {
        background-color: $bg-color-perso;

        .logo-automotora-footer {
            @include tamaños(350px, 130px);
        }

        .text-footer {
            font-family: $fuente-perso;
        }

        a.text-footer {
            color: white;
        }

        .text-copyright {
            color: white;
        }

        .text-copyright:hover {
            color: red;
        }

        .social-media-buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }

        .social-media-button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            outline: 2px solid white;
            cursor: pointer;
            transition: all 0.3s;
            display: grid;
            place-items: center;
        }

        .social-media-button:hover {
            outline-offset: 3px;
            transition: all 0.3s;
        }

        .social-media-button img {
            transition: all 0.3s;
        }

        .social-media-button:hover img {
            transform: scale(1.15);
        }

        .social-media-button:hover:nth-child(1) {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%,
                    #fdf497 5%, #fd5949 45%,
                    #d6249f 60%, #285AEB 90%);
        }

        .social-media-button:hover:nth-child(2) {
            background-color: skyblue;
        }

        .social-media-button:hover:nth-child(3) {
            background-color: red;
        }

        .social-media-button:hover:nth-child(4) {
            background-color: rgb(0, 119, 181);
        }
    }

}


section.portada {
    background-image: url(../img/Fondos/BMW\ fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

}

section.sec_ventas {
    #contenedorVehiculos {
        display: flex;
        justify-content: space-around;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .btn-agregar {
        border: solid 3px white;
        border-radius: 8px;
        background-color: $bg-color-perso;
        color: white;

    }

    .btn-agregar:hover {
        border: solid 3px #27374d;
        border-radius: 8px;
        background-color: white;
        color: $bg-color-perso;
    }

    .btn-buscar{
        background-color: #27374d;
        color: white;
        border: #27374d 1px solid;
        border-radius: 2px;
    }

    .btn_filtro {
        border: solid 3px white;
        border-radius: 8px;
        background-color: $bg-color-perso;
        color: white;
    }

    .btn_filtro:hover{
        border: solid 3px #27374d;
        border-radius: 8px;
        background-color: white;
        color: $bg-color-perso;
    }

    .btn-borrarFiltro{
        width: 30px;
    }
    .btn-borrarFiltro:hover{
        -webkit-transform: scale(1.3);
        transform: scale(1.1);
        transition: all 0.3s ease-out;
    }

    .card-price {
        color: green;
    }

    .tarjProdCarrito {
        width: 80%;
        margin: 0 10%;
        max-height: 88vh;
        color: white;
        background-color: rgb(29, 29, 29);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        overflow: auto;
        z-index: 9;
        top: 12vh;
        scrollbar-color: none;
        border: solid 1px white;
        border-radius: 10px;
    }

    .btn-fn-compra {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 15px;
        background-color: #27374d;
        border: #27374d solid 1px;
        border-radius: 5px;
    }

    .btn-fn-compra:hover {
        background-color: white;
        color: #27374d;
        font-size: 17px;
        border: #27374d 2px solid;

    }

    .modelo-title {
        font-size: 26px;
    }

    .precio-title {
        font: 300;
        font-size: 23px;
        color: green;
    }
}